div {
    background-color: #103681;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(25px + 2vmin);
    color: white;
    /* padding-top: 50px; */
}

form{
    align-items:right;
}
body {
    margin: 0;
}
ul{
    list-style-type:none;
    align-items:right;
}
input{
    margin:calc(15px + 2vmin);
}
.buttons{
    color:#103681;
    background: white;
    text-decoration:none;
    border:none;
    padding: 10px 25px;
    display: inline-block;
    cursor:pointer;
    margin-bottom: 10px;
    text-align:center;
    font-size:calc(15px + 2vmin);
    font-weight:normal;
}

body{
    background-color: #103681;
}

.inputs{
    margin-left:calc(20px+2vmin);
}