div {
    background-color: #103681;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(25px + 2vmin);
    color: white;
    /* padding-top: 50px; */
}

form{
    align-items:right;
}
body {
    margin: 0;
}
ul{
    list-style-type:none;
    align-items:right;
}
input{
    margin:calc(15px + 2vmin);
}
.submit{
font-size: calc(100px + 2vmin);
}

body{
    background-color: #103681;
}
