body {
    margin: 0;
}

.App-header {
    background-color: #103681;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: white;
    padding-top: 100px;
}


.heading {
    color:white;
    font-size:45px;
    margin-bottom:30px;
    font-weight:normal;
    }

.heading2{
    color:white;
    font-size:calc(25px + 2vmin);
    font-weight:normal;

}

.firstButtons{
    color:#103681;
    background: white;
    text-decoration:none;
    border:none;
    padding: 15px 32px;
    display: inline-block;
    cursor:pointer;
    margin-bottom: 60px;
    text-align:center;
    font-size:35px;
    font-weight:normal;
}
