.buttons{
    color:#103681;
    background: white;
    text-decoration:none;
    border:none;
    padding: auto;
    display: inline-block;
    cursor:pointer;
    margin: 20px;
    text-align:right;
    font-size:calc(5px + 2vmin);
    font-weight:normal;
    line-height:calc(5px + 2vmin);
}

.defaultsearch {
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: center;
  }

div {
    background-color: #103681;
}

ul {
    list-style-type:none;
    font-size:25px;
    margin:none;
}

.tutors {
    margin:calc(5px + 2vmin);
    color: #103681;
}

body {
    margin: 0;
}

label {
    font-size:calc(10px+2vmin);
}

Link{
    text-decoration:none;
}

.clickOns {
    margin:15px;
}

.bullet{
    
}

